<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  

<connectionStrings>
  <add name="con_intex" providerName="System.Data.SqlClient" connectionString="Data Source=localhost,2433;Initial Catalog=intexca_db;Persist Security Info=True;user id=intexca_dbuser;password=weTkfHdjh1"/>
<add name="GoldLaminatesEntities" connectionString="metadata=res://*/Models.GoldLaminatesModel.csdl|res://*/Models.GoldLaminatesModel.ssdl|res://*/Models.GoldLaminatesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost,2433;initial catalog=intexca_db;persist security info=True;user id=intexca_dbuser;password=weTkfHdjh1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="BlogEntities" connectionString="metadata=res://*/Areas.Blog.Models.BlogModel.csdl|res://*/Areas.Blog.Models.BlogModel.ssdl|res://*/Areas.Blog.Models.BlogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost,2433;initial catalog=intexca_db;user id=intexca_dbuser;password=weTkfHdjh1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

 
 

</connectionStrings>
  


<appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="SendEmailEnquiry" value="enquiry@intexcare.com"/>
    <add key="WebSiteMainUrl" value="http://intexcare.com"/>

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>

    <customErrors mode="On" defaultRedirect="http://intexcare.com/Error.html">
      <error statusCode="401" redirect="http://intexcare.com/Error.html" />
      <error statusCode="402" redirect="http://intexcare.com/Error.html" />
      <error statusCode="404" redirect="http://intexcare.com/Error.html?Page-Not-Found" />
      <error statusCode="302" redirect="http://intexcare.com/Error.html" />
    </customErrors>
    
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime/>
    <sessionState mode="InProc" timeout="20"/>
  


<pages controlRenderingCompatibilityVersion="4.0" buffer="true" enableViewState="true">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
	<add namespace="GridMvc"/>
      </namespaces>
    </pages>

 
  </system.web>
  <system.net>
      
   <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" defaultCredentials="false" enableSsl="true" userName="mailintexhealth@gmail.com" password="mailintex@2016"  />
      </smtp>
    </mailSettings>
   <settings>
      <servicePointManager
          checkCertificateName="false"
          checkCertificateRevocationList="false"         
      />
    </settings>
    
  </system.net>
  <system.webServer>
   <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".cshtml" />
          <add fileExtension=".cshtml" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
   
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>